<ion-app>
  <ion-menu *ngIf="showMenu" contentId="main-content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="navigateTo('/home')">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          Inicio
        </ion-item>
        <ion-item (click)="navigateTo('/add-expense')">
          <ion-icon name="add-circle-outline" slot="start"></ion-icon>
          Agregar Gasto
        </ion-item>
      </ion-list>
      <div class="logout-container">
        <ion-button expand="block" color="danger" (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Cerrar sesión
        </ion-button>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
